h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0px;
}
.hide{
    display: none;
}
.title-bar{
    background-color: white;
    box-shadow: 0px 0px 10px #095910;
}
#homeBtn{
    font-size: 25px;
    color: white;
    background-color: transparent;
    border: 3px solid #095910;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0px 0px 10px #095910;
}
.body-container{
    position: relative;
    width: 85vw;;
    max-width: 784px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    height: wrap;
    text-align: center;
}
.home-screen{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}
select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    border-radius: 0;
}
.columns{
    padding: 5px;
} */


/* TC- CSS */
select {
    width: 100%;
    font-size: 14px;
}

/* #showDiv {
    width: 100%;
    justify-content: space-around;
} */

#select {
    width: 50%;
}
#imgContainer{
    min-height: 30vh;
    padding: 20px;
    border-radius: 10px 10px;
    box-shadow:  0px 0px 18px #095910;
    box
}