h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0px;
}
.hide{
    display: none;
}
.title-bar{
    background-color: white;
    box-shadow: 0px 0px 10px #095910;
    padding-right: 5%;
    padding-left: 5%;
}
#homeBtn{
    margin-top: 15px;
}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.5s;
  }
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: #85e69f;
  }
.custom-button{
    font-size: 25px;
    color: white;
    border: 3px solid #095910;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    box-shadow: 0px 0px 10px #095910;
    font-family:'Playball', cursive; color: #095910;
    background-color: white;
}
.body-container{
    position: relative;
    width: 85vw;;
    max-width: 784px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    height: wrap;
    text-align: center;
}
.home-screen{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}
select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    border-radius: 0;
}
#imgContainer{
    min-height: 30vh;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px 10px;
    box-shadow:  0px 0px 18px #095910;
}
.fancy {
    line-height: 1.0;
    text-align: center;
  }
  .fancy span {
    display: inline-block;
    position: relative;  
  }
  .fancy span:before,
  .fancy span:after {
      margin-top: 6px;
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 2px solid #095910;
    border-top: 2px solid #095910;
    top: 0;
    width: 300%;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }